body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.zero {
  margin: 0px !important;
  padding: 0px !important;
}

.white {
  color: white;
  font-size: 11px;
  font-weight: 600;
}

#addQuestion {

  width: 100%;
  color: #333333;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}

#outer {
  height: 400px;
  overflow: hidden;
  position: relative;
}

#outer[id] {
  display: table;
  position: static;
}

#middle {
  position: absolute;
  top: 55%;
}

/* For explorer only*/
#middle[id] {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

#inner {
  position: relative;
  top: -50%
}

.audito {

  background-image: url("../images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  ;
}

.ss {
  height: 100vh;
  background-image: url("../images/6.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.imgLogo {
  height: 40px
}

.imgLogo1 {
  height: 50px
}

.imgLogo2 {
  height: 45px
}

.yellow {
  color: #000;
  font-size: 12px;
  margin-top: -70px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.yellow1 {
  color: #fff;
  font-size: 9px;
  margin-top: -70px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fullscreen-icon {
  z-index: 1000000;
}

.colorWhite {
  color: white;
  font-size: 17px;
  margin-top: -9px;
}

.hero-image {
  background-image: url("../back.jpg");
  background-color: #cccccc;
  height: 220vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-expo {
  background-image: url("../WW View 07-min.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-expo11 {
  background-image: url("../layout/8\ Stall\ View-min.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-expo22 {
  background-image: url("../layout/7\ Stall\ View-min.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-image-expo33 {
  background-image: url("../layout/9\ Stall\ View-min.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-image-expo44 {
  background-image: url("../layout/11\ Stall\ View-min.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-image-expo55 {
  background-image: url("../layout/6\ Stall\ View-min.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-expo {
  text-align: center;
  position: absolute;
  top: 66%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image-expo-zone1 {
  background-image: url("../PSAS\ Expo\ 44-min.jpg");
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.check {
  background-image: url("../18715-tv-panel-vector-thumb.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-expo-zonetab {
  background-image: url("../back.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-expo-zone1234 {
  background-image: url("../0002\ final\ 2.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone1Video {
  background-image: url("../stall/1\ \(3\)-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone2Video {
  background-image: url("../stall/2\ \(5\)-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone3Video {
  background-image: url("../stall/3\ \(3\)-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone4Video {
  background-image: url("../stall/automation/4\ Risk\ evaluation\ \ for\ Dynamic\ Payment\ Retry\ Window-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone5Video {
  background-image: url("../stall/automation/5\ PIPER\ \ -\ Premptive\ Intent\ Pipeline\ Refresh-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone6Video {
  background-image: url("../stall/automation/6\ Signality-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone7Video {
  background-image: url("../stall/automation/7\ DeepCARE++-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone8Video {
  background-image: url("../stall/automation/8\ Fetch\ your\ Geo\ \ loaction\ details\ using\ IP-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone9Video {
  background-image: url("../stall/automation/9\ Last\ Mile\ \ Evaluation-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone10Video {
  background-image: url("../stall/automation/10\ Alchemy\ Document\ \ Translation-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone11Video {
  background-image: url("../stall/automation/11\ Obfuscation\ Buster-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone12Video {
  background-image: url("../stall/automation/12\ TattletaleUX\ \ Cluster\ Investigations-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone13Video {
  background-image: url("../stall/featureengg/1\ Challenge\ History\ \ Store-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone14Video {
  background-image: url("../stall/featureengg/2\ URES\ Flexible\ \ Evaluation-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone15Video {
  background-image: url("../stall/featureengg/3\ Using\ OTF\ for\ \ Sable\ variables-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone16Video {
  background-image: url("../stall/featureengg/4\ Rearchitecting\ \ CHOPS\ on\ OTF-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone17Video {
  background-image: url("../stall/featureengg/5\ COSMOS\ on\ URES-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone18Video {
  background-image: url("../stall/featureengg/6\ URES\ Fanout-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone19Video {
  background-image: url("../stall/featureengg/7\ Async\ \ DWAR-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone20Video {
  background-image: url("../stall/featureengg/8\ Next\ \ Generation\ OTF-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone21Video {
  background-image: url("../stall/moderization/1\ ContREE-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone22Video {
  background-image: url("../stall/moderization/2\ Triton\ React\ Widgets-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone23Video {
  background-image: url("../stall/moderization/3\ Adversarial\ \ CAPTCHA-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone24Video {
  background-image: url("../stall/moderization/4\ Making\ DWAR\ \ onboarding\ free\ of\ legacy\ Fraud\ Document-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone25Video {
  background-image: url("../stall/moderization/5\ Offline\ Action\ \ Planner-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone26Video {
  background-image: url("../stall/moderization/6\ Lifecycle\ Event\ \ Orchestrator-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone27Video {
  background-image: url("../stall/moderization/7\ Abuse\ Payment\ \ Suppression-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone28Video {
  background-image: url("../stall/tooling/1\ Automated\ ML\ \ Pipeline-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone29Video {
  background-image: url("../stall/tooling/2\ AWESOME\ Platform-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone30Video {
  background-image: url("../stall/tooling/3 EPIC-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone31Video {
  background-image: url("../stall/tooling/4\ URES\ Analyzer-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone32Video {
  background-image: url("../stall/tooling/5 GMRA Finder-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone33Video {
  background-image: url("../stall/tooling/6\ Latency\ Planner-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone34Video {
  background-image: url("../stall/tooling/7 CORBEL-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone35Video {
  background-image: url("../stall/tooling/8\ Zero\ touch\ \ monitors-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone36Video {
  background-image: url("../stall/tooling/9\ SIL\ Testing-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone37Video {
  background-image: url("../stall/causalsq/1\ Challenge\ Friction\ \ Management-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone38Video {
  background-image: url("../stall/causalsq/2\ Survival\ Fraud\ \ Detection-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone39Video {
  background-image: url("../stall/causalsq/3 REDD-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone40Video {
  background-image: url("../stall/causalsq/4 GoldMiner  Investigation Feedback!-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone41Video {
  background-image: url("../stall/causalsq/5\ Munged\ address\ \ detection-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone42Video {
  background-image: url("../stall/causalsq/6 CATALST - Machine  Translation-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone43Video {
  background-image: url("../stall/causalsq/7\ B2B\ Resellers-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone44Video {
  background-image: url("../stall/causalsq/8\ Fast\ \ Reiforcement\ Learning-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone45Video {
  background-image: url("../stall/causalsq/9 Abuse detectionn  via Buyer Seller Messaging-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone46Video {
  background-image: url("../stall/causalsq/10\ Abuse\ DSI-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone47Video {
  background-image: url("../stall/causalsq/11\ Fraud\ Uplift\ Model-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone48Video {
  background-image: url("../stall/causalsq/12\ Multi-Objective\ \ Reinforcement\ Learning-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone49Video {
  background-image: url("../stall/causalsq/13\ Seq2DSI\ \ Heterogeneous\ treatment\ effects\ using\ customer\ order\ history.-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone50Video {
  background-image: url("../stall/causalsq/14\ XGC\ BERT-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone51Video {
  background-image: url("../stall/causalsq/15\ PRIDE-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone52Video {
  background-image: url("../stall/graph/3\ Temporal\ \ Self-Attention-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone53Video {
  background-image: url("../stall/graph/2\ Temporal\ Graph\ \ Explainer-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone54Video {
  background-image: url("../stall/graph/1\ Temporal\ Graph\ \ Networks-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone55Video {
  background-image: url("../stall/graph/4\ Embedding\ to\ \ Communities-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone56Video {
  background-image: url("../stall/graph/5\ Abuse\ \ EV2.0-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone57Video {
  background-image: url("../stall/graph/6\ Spiderweb-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone58Video {
  background-image: url("../stall/graph/7\ Fingerprint-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone59Video {
  background-image: url("../stall/graph/8\ EVINCE\ \ -\ Graph\ modeling\ solution-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone60Video {
  background-image: url("../stall/graph/9\ Risk\ detection\ \ using\ hypergraphs-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone61Video {
  background-image: url("../stall/mlpipeline/1\ DataKosh-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone62Video {
  background-image: url("../stall/mlpipeline/2\ REWARDS-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone63Video {
  background-image: url("../stall/mlpipeline/3\ Dupin\ -\ Offline\ \ Generation\ of\ Synthetic\ Bad\ Actor\ Data-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone64Video {
  background-image: url("../stall/mlpipeline/4\ Auto\ feature\ \ engineering-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone65Video {
  background-image: url("../stall/mlpipeline/5\ GoldMiner\ \ Intelligent\ Operations-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone66Video {
  background-image: url("../stall/mlpipeline/6\ Breeding\ Fraud-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone67Video {
  background-image: url("../stall/mlpipeline/7\ Data\ \ Distillation-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone68Video {
  background-image: url("../stall/mlpipeline/8\ Decision\ Quality\ \ Enhancement-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone69Video {
  background-image: url("../stall/mlpipeline/9\ RApid\ Drift\ \ Detection-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone70Video {
  background-image: url("../stall/mlpipeline/10\ Subscriptions\ Pessimistic\ \ Fulfillment-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone71Video {
  background-image: url("../stall/mlpipeline/11\ AdaClean-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone72Video {
  background-image: url("../stall/supervise/1\ AI\ Cat\ Platform-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone73Video {
  background-image: url("../stall/supervise/2\ Fool\ AI\ \ Bot-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone74Video {
  background-image: url("../stall/supervise/3\ Visual\ Document\ \ Understanding-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone75Video {
  background-image: url("../stall/supervise/4\ Customer\ Credit\ \ Score\ System-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone76Video {
  background-image: url("../stall/supervise/5\ ASIN2vec-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone77Video {
  background-image: url("../stall/supervise/6\ Multi-Input\ Neural\ \ network-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone78Video {
  background-image: url("../stall/supervise/7\ deep\ \ clustering-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone79Video {
  background-image: url("../stall/supervise/8\ Fraud\ Library-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone80Video {
  background-image: url("../stall/supervise/9\ TEE-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone81Video {
  background-image: url("../stall/supervise/10\ Customer\ \ Segmentation-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone82Video {
  background-image: url("../stall/supervise/11\ Sherlock\ MO\ \ Detective-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone83Video {
  background-image: url("../stall/supervise/12\ ASIN\ \ Embeddings\ for\ Resellers-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone84Video {
  background-image: url("../stall/supervise/13\ LNN-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone85Video {
  background-image: url("../stall/supervise/14\ Septr-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone86Video {
  background-image: url("../stall/supervise/15\ Email2Risk\ \ for\ Amazon\ Pay-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone87Video {
  background-image: url("../stall/supervise/16\ AGATE-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone88Video {
  background-image: url("../stall/supervise/17\ semi-\ and\ \ self-supervised\ learning-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone89Video {
  background-image: url("../stall/supervise/18\ Sleuth\ -\ Rapid\ Mo\ \ Detection\ And\ Action-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone90Video {
  background-image: url("../stall/transfered/1\ Meta-Learning-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone91Video {
  background-image: url("../stall/transfered/2\ BPATE-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone92Video {
  background-image: url("../stall/transfered/3\ MVL-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone93Video {
  background-image: url("../stall/transfered/4\ Multitask\ Learning-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone94Video {
  background-image: url("../stall/transfered/5\ Federated\ Learning-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone95Video {
  background-image: url("../stall/transfered/6\ Fraud\ Prevention\ \ with\ PII-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone96Video {
  background-image: url("../stall/transfered/7\ Cross-Concept\ Net-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.zone97Video {
  background-image: url("../stall/transfered/8\ DeepCARE-FSL-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone98Video {
  background-image: url("../stall/transfered/9\ Federated\ Deep\ \ Learning-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.zone99Video {
  background-image: url("../stall/supervise/19 fake low content  evaluation-min.png");
  background-color: #cccccc;
  height: 95vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



.hero-text-expo-zone1 {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text-know-center {
  text-align: center;
  position: absolute;
  top: 72%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.know-center {
  background-image: url("../images/Optimized-0002\ final\ 2\ \(3\).png");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.widthHeightzone1 {
  height: 450px;
  width: 300px;
  margin-left: 2rem;
}
.dropdown-menu{
  background-color: transparent !important;
  border: 0px !important;
  
}
.dropdown:hover>.dropdown-menu {
  display: block;
  /* background-image: url("../back.jpg"); */
  background-position: bottom;
  margin-top: -1.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 5px solid white; */
  margin-left: 30%;


}

.dropdown-menu.show {
  background-image: url("../back.jpg");
  /* border: 5px solid white; */
  margin-top: -1.875rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a.dropdown-item:hover,
a.dropdown-item {
  /* color: white; */
  padding-left: 1.25rem;
  font-size: 14px;
 color: white;
  font-weight: 600;
}

.know-center-padding {
  padding: 0px 400px !important;


}

.dropKnow {
  font-size: 10px;
  border-color: transparent !important;
  background-color: transparent !important;
  margin-left: 1rem;
  margin-top: 1.5rem;
  font-size: .8rem !important;
  color: black !important;
}


.dropKnow1 {
  font-size: 10px;
  border-color: transparent !important;
  background-color: transparent !important;
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: .8rem !important;
  color: black !important;
}

.center {
  text-align: center;
}

div#player {
  max-width: 100% !important;
}

.wrapper {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}

.h_iframe {
  position: relative;
}

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-text-know-centerk {
  text-align: center;
  position: absolute;
  top: 77%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.knowBtn {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  font-size: 11px;
  color: transparent;
  font-weight: 700;
}


.zone3Header {
  margin-top: -45px;
}

.zero {
  margin: 0px !important;
  padding: 0px !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px !important;
  margin-left: 0px !important;
}


.pt2 {
  margin-top: 2rem;

}


.dnV {
  display: none;
}

.paddingLobby {
  padding: 0rem 2rem
}

.yellowColor {
  color: black !important;
  font-size: 12px !important;
  font-weight: 700;
  letter-spacing: 1px !important;
}

.zones {
  color: black !important;
  font-size: 12px !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
}

.zones1 {
  color: white !important;
  font-size: 13px !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
}

.breakout {
  color: white !important;
  font-size: 12px !important;
  letter-spacing: 1px !important;
  font-weight: 600;
}




.expFont {
  font-size: 14px !important;
  color: black !important;
}

.blackColor {
  color: black !important;
  font-size: 14px !important;
}




.navPadding {
  padding: 0rem 4rem;
}

.navPadding1 {
  padding: 5rem 0rem 0rem 61rem;

}



.disabled {
  pointer-events: none;
  cursor: default;
}


.bold {
  font-weight: 600;
}

.fotterPadding {

  padding: 0rem 5rem;
}


.bd {
  background-image: url("../images/login/P1.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;

}

.bd2 {
  background-image: url("../images/login/P2.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;

}

.center22 {
  margin: auto;
  width: 60%;

}

.outer {
  display: table;
  position: absolute;
  top: 5.306667rem;
  left: 14rem;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}



.geeks {

  overflow: hidden;
  margin: 0 auto;
}

/* .geeks img { 
        width: 100%; 
        transition: 0.5s all ease-in-out; 
    } 
       
    .geeks:hover img { 
        transform: scale(1.5); 
    }  */

.j {
  width: 100%;
  opacity: 1;
  transition: 0.5s all ease-in-out;
}

.j:hover,
.j.b {
  transform: scale(1.2);
  opacity: 1;
}

.text12 {

  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-size: 12PX;

}


/* .gif {
  margin-left: 4.3125rem;
  margin-top: -8.75rem;

} */

/* .gif2 {
  margin-left: 8.3125rem;
  margin-top: -2.75rem;

} */

.feed {
  margin-left: 1.875rem;
}


.info {
  margin-top: -9.025rem;
  margin-left: -23.5rem;
}

.hideline {
  text-decoration: none !important;
}

.dropdown-menu {
  width: 95%;
}

.icona {
  margin: 21.875rem 0rem 0rem 27.938rem;
}





*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* section {
  height: 100vh;
  width: 100%;
  display: table;

} */

section.ok {
  background-color: #555;
}



.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down1 {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 62px;
  height: 62px;
  border: 2px solid #000;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}


.scroll-down1 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 62px;
  height: 62px;
  border: 2px solid #000;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid black;
  border-width: 0px 0 2px 2px;
}

.scroll-down1:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid black;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}