
*{
    font-weight:600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  
  
  @media only screen and (max-width: 600px) {
      .example {background: red;}
      .dn-M{
          display: none;
      } 
      
      .Mtm{
  margin-top: 5%;
      }
  
      .widthHeightzone1 {
        width: 227px;
        margin-left: 1.5rem;
        margin-top: -1rem;
        
    }
  
    
      .colorM{
        background: grey;
     
          }
          .home-section a{
            font-size:14px;
  
          }
          .mtlobyy{
            margin-top: -62px;
                }
  
  .zIndexM{
  z-index:1999;
  }
                a.navbar-brand.center.yellowColor {
                  font-size: 14px;
              }
  }
  
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      .example {background: green;}
      .dn-L{
        display: none;
      }
      .mobile{
        display: none;
      }
  
  
      .modal-dialog {
        max-width: 500px !important;
        margin: 1.75rem auto;
        
    }
    .mtVT{
      margin-top: -36px;
  
    }
  
    .zIndexM{
      z-index: 1999;
                }
      .padding-L{
        padding: 1rem 20rem;
      }
      .padding-N{
        padding: 0rem 20rem;
      }
  }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      .dh-450 {height: 400px;}
      .dn-L{
        display: none;
      }
  
      .mobileMEnuText{
        font-size: 12px;
        font-weight: 600;
        
            }
  
      .mtVT{
        margin-top: -36px;
    
      }
      .mobile{
        display: none;
      }
      .mtlobyy{
  margin-top: -80px;
      }
      .modal-dialog {
        max-width: 56%;
        max-height: 400px;
        margin: 1.75rem auto;
    }
    .zIndexM{
      z-index: 1999;
                }
    
      .padding-L{
        padding: 0 20rem;
      }
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      
      .MTLD{
        margin-top: -2rem;
          }
      .row.desktoprem {
        padding: 0rem 8rem;
    }
      .dh-450 {height: 400px;}
      .dn-L{
        display: none;
      }
      .mtVT{
        margin-top: -36px;
    
      }
      .mtlobyy{
       
        margin-top: -80px;
            }
      .padding-L{
        padding:1rem 20rem;
      }
      .modal-dialog {
        max-width: 56%;
        max-height: 400px;
        margin: 1.75rem auto;
    }
    
    .zIndexM{
      z-index: 1999;
                }
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
  
  
      .MTLD{
        margin-top: -2rem;
          }
      .row.desktoprem {
        padding: 0rem 8rem;
    }
  
   
     
      .mobileMEnuText{
  font-size: 12px;
  font-weight: 600;
  
      }
  
     
      .desktopSize{
        font-size: 16px;
        color: #ffffff;
        font-weight: 600;
          }
  
      .dh-450 {height: 400px;}
      dn-L{
        display: none;
      }
  
      .mobile{
        display: none;
      }
      .mtlobyy{
        margin-top: -120px;
       
            }
            .mtVT{
              margin-top: -36px;
          
            }
  
            .zIndexM{
  z-index: 1999;
            }
      .padding-L{
        padding: 1rem 20rem;
      }
      .padding-LobbyNav{
        padding:0rem 13rem 0rem 12rem;
      }
      .modal-dialog {
        max-width: 56%;
        margin: 1.75rem auto;
        max-height: 400px;
    }
    
    .hero-text-expo-zone1DesktopVideo{
      position: absolute;
      top: 48%;
      left: 135%;
      text-align: center;
      height: 13.063rem;
      width: 100%;
      transform: translate(-49%, -50%);
      color: white;
      margin-left: 1.688rem;
    }
    .gif2 {
      margin-left: 8.3125rem;
      margin-top: -2.75rem;
    
    }


    .gif {
      margin-left: 6.9125rem;
      margin-top: -5.75rem;
    
    }

    .dp{
 
      width: 270px;
      color: white;
      border: 3px solid white;
      margin-top: 8%;
    
    }

    
    }
    .zone1videocss {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 70px !important;
      margin-left: 70px !important;
  }
  
 


  @media only screen   
  and (min-width: 1030px)   
  and (max-width: 1366px)  
  { 

    .MTLD{
        margin-top: -2rem;
          }
      .hidefooterIcon{
        display: none;
      }
    
      .row.desktoprem {
        padding: 0rem 20rem;
    }
    
    .row.desktoprem1 {
      padding: 0rem 2rem;
    }
    
    .hero-text-expo-zone1DesktopVideo{
      position: absolute;
      top: 50.7%;
      left: 110%;
      text-align: center;
      height: 100%;
      width: 85%;
      transform: translate(-49%, -50%);
      color: white;
      margin-left: 7.813rem;
      padding-bottom: -3.125rem;
    }
         
      .desktopSize{
    font-size: 14px;
    color: #fadb35;
    font-weight: 600;
      }

      .gif2 {
        margin-left: 8.9125rem;
        margin-top: -6.75rem;
      
      }

  } 

  
  
  @media screen and (min-width: 1900px){
  
  
  
    .MTLD{
      margin-top: -2rem;
        }
    .hidefooterIcon{
      display: none;
    }
  
    .row.desktoprem {
      padding: 0rem 25rem;
  }
  
  .hero-text-expo-zone1DesktopVideo {
      position: absolute;
      top: 46.8%;
      left: 122%;
      text-align: center;
      height: 100%;
      width: 76%;
      transform: translate(-49%, -50%);
      color: white;
      margin-left: 7.813rem;
      padding-bottom: -3.125rem;
  }


  .gif {
    margin-left: 9.1125rem;
    margin-top: -1.75rem;
  
  }

  .dp{
   
    width: 270px;
    color: white;
    border: 3px solid white;
    margin-top: 28%;
    text-align: center;

  }

  .gif2 {
    margin-left: 12.3125rem;
    margin-top: -2.75rem;
  
  }
  .bgbiglaptop {
    margin-top: -300px;
      margin-left: 300px;
   
  }

  .desktopSize{
    font-size: 14px;
    color: #fadb35;
    font-weight: 600;
      }
  
    }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  /* Kavya */
  @media (min-width: 1025px) and (max-width: 1280px) {
  



    .bgbiglaptopdddddddd{
      position: absolute;
        margin-top: -15%;
        margin-left:11%
    }

    .MTLD{
      margin-top: -2rem;
        }
    .zone3Button{
      background-color: #efefef;
      color: black;
      font-size: 14px;
      padding: 4px;
      margin-top: -4.188rem;
      margin-right: 0.875rem ;
      }

      .gif2 {
        margin-left: 8.7125rem;
        margin-top: -4.75rem;
      
      }

      .gif {
        margin-left: 6.7125rem;
        margin-top: -6.95rem;
      
      }
  
      .dp{
   
        width: 270px;
        color: white;
        border: 3px solid white;
        margin-top: 3%;
      
      }

  
    .mobileMEnuText{
      font-size: 11px;
      font-weight: 600;
      
          }
        
          
          .hidefooterIcon{
            display: none;
          }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .MTLD{
      margin-top: -2rem;
        }
    .zone3Button{
      background-color: #efefef;
      color: black;
      font-size: 14px;
      padding: 4px;
      margin-top: -4.188rem;
      margin-right: 0.875rem;
      }
        
    .mobileMEnuText{
      font-size: 10px;
      font-weight: 600;
      color:#ffffff;
          }

          .gif2 {
            margin-left: 8.3125rem;
            margin-top: -2.75rem;
          
          }

         
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  
    .MTLD{
  margin-top: -2rem;
    }
    .mobileMEnuText{
      font-size: 10px;
      font-weight: 600;
      color: #ffffff;
          }
  
  .desktoprem
  {
  
      padding:0rem 5rem;
  }
  
          .mobileLogoSIze{
            height:20px;
          }
          .hidmainNAv 
          {
            display: none;
          }  
    
    
          .hero-text-expo-zone1DesktopVideo {
            position: absolute;
            top: 34%;
            left: 46.2%;
            text-align: center;
            /* height: 161px; */
            width: 100%;
            transform: translate(-49%, -50%);
            color: white;
            margin-left: 2.375rem}


            .gif2 {
              margin-left: 8.3125rem;
              margin-top: -2.75rem;
            
            }

  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .hero-text-expo-zone1DesktopVideo {
      text-align: center;
      position: absolute;
      top: 35%;
      left: 50%;
      text-align: center;
      width: 29%;
      margin-left: 1.063rem;
      transform: translate(-50%, -50%);
      color: white;
  }
  .desktoprem {
      padding: 0rem 3rem;
  }
  
  
  
  .zone3Button{
    background-color: #efefef;
    color: black;
    font-size: 14px;
    padding: 4px;
    margin-top: -18.125rem;
    margin-right: -74%;
  }
  
    
    .mobileMEnuText{
      font-size: 10px;
      font-weight: 600;
      color:#ffffff;
          }
  
          .mobileLogoSIze{
            height:20px;
          }
          .hidmainNAv 
          {
            display: none;
          }  
          
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */


/* Nisha */
  @media screen and (min-width: 1400px) and (max-width:1499px) {




    .info {
      margin-top: -6.25rem;
      margin-left: -11.9rem;
  }
  
  .bgbiglaptopdddddddd{
    position: absolute;
      margin-top: -23%;
      margin-left:28%
  }



  .dp{
 
    width: 270px;
    color: white;
    border: 3px solid white;
    margin-top: -12%;
    text-align: center;
  
  }

  .gif {
    margin-left: 6.5125rem;
    margin-top:-9.75rem;
  
  }

  .gif2 {
    margin-left: 8.8125rem;
    margin-top: -9.75rem;
  
  }

  .scro{
  
  
    color: black; 
    text-align: center; 
    margin-top: 560px; 
    margin-left: 30px;
  
  }
  
  
  
  }

  
  @media (min-width: 320px) and (max-width: 480px) {
  
   .hidmainNAv 
  {
    display: none;
  }  
  }
  .zone32Button {
    background-color: transparent;
    color: black;
    font-size: 14px;
    padding: 0.25rem;
    margin-top: -2.25rem;
    margin-right: -1.625rem;
  }
  
  .zone3Button{
    background-color: transparent;
    color: black;
    font-size: 14px;
    padding: 0rem !important;
    /* margin-top: -2.5rem; */
    margin-right: 5.875rem;
    /* border: 10px solid red !important; */
    /* pointer-events: none; */
    }
  
    

/* Kunal */
    @media screen and (min-width: 1701px) and (max-width:1899px) {
      .info {
        margin-top: -4.85rem;
        margin-left: -26.2rem;
    }
    .bgbiglaptop{
      position: absolute;
        margin-top: -23%;
        margin-left:30%
    }
    
    .gif {
      margin-left: -1.6875rem;
      margin-top: -2.75rem;
  }
  .hero-text-expo-zone1DesktopVideo {
    position: absolute;
    top: 42%;
    left: 135%;
    text-align: center;
    height: 13.063rem;
    width: 100%;
    transform: translate(-49%, -50%);
    color: white;
    margin-left: 1.688rem;
}

.gif2 {
  margin-left: 10.3125rem;
  margin-top: -6.75rem;

}

.gif {
  margin-left: 6.9125rem;
  margin-top: -6.75rem;

}


.dp{
 
  width: 270px;
  color: white;
  border: 3px solid white;
  margin-top: 1%;

}
    
    }


    @media screen and (min-width: 1520px) and (max-width:1550px){
      .info {
        margin-top: 2.25rem;
        margin-left: -12.4rem;
    }


    .gif2 {
      margin-left: 10.3125rem;
      margin-top: -6.75rem;
    
    }
    
    .gif {
      margin-left: 7.9125rem;
      margin-top: -6.75rem;
    
    }

    }
    


  


    @media screen and (min-height: 821px) and (max-width:1440px){

/* body{
  background-color: aquamarine;
} */


.info {
  margin-top: -6.25rem;
  margin-left: -11.9rem;
}

/* .bgbiglaptopdddddddd{
position: absolute;
  margin-top: -23%;
  margin-left:28%
} */

.bgmediumlaptop{
  position: absolute;
  margin-top: -25% ;
  margin-left:28%

}


.dp{

width: 270px;
color: white;
border: 3px solid white;
margin-top: '12%';

}

.gif {
margin-left: 4.9125rem;
margin-top:-9.75rem;

}

.gif2 {
margin-left: 7.8125rem;
margin-top: -9.75rem;

}


.hero-text-expo-zone1DesktopVideo {
  position: absolute;
  top: 43.8%;
  left: 122%;
  text-align: center;
  height: 100%;
  width: 86%;
  transform: translate(-49%, -50%);
  color: white;
  margin-left: 7.813rem;
  padding-bottom: -3.125rem;
}



.scro{


color: black; 
text-align: center; 
margin-top: 560px; 
margin-left: 30px;

}

    }

    .dp{
   
     
      text-align: center;
  
    }