
*{
    font-weight:600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  
  
  @media only screen and (max-width: 600px) {
      .example {background: red;}
      .dn-M{
          display: none;
      } 
      
      .Mtm{
  margin-top: 5%;
      }
  
      .widthHeightzone1 {
        width: 227px;
        margin-left: 1.5rem;
        margin-top: -1rem;
        
    }
  
    
      .colorM{
        background: grey;
     
          }
          .home-section a{
            font-size:14px;
  
          }
          .mtlobyy{
            margin-top: -62px;
                }
  
  .zIndexM{
  z-index:1999;
  }
                a.navbar-brand.center.yellowColor {
                  font-size: 14px;
              }
  }
  
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      .example {background: green;}
      .dn-L{
        display: none;
      }
      .mobile{
        display: none;
      }
  
  
      .modal-dialog {
        max-width: 500px !important;
        margin: 1.75rem auto;
        
    }
    .mtVT{
      margin-top: -36px;
  
    }
  
    .zIndexM{
      z-index: 1999;
                }
      .padding-L{
        padding: 1rem 20rem;
      }
      .padding-N{
        padding: 0rem 20rem;
      }
  }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      .dh-450 {height: 400px;}
      .dn-L{
        display: none;
      }
  
      .mobileMEnuText{
        font-size: 12px;
        font-weight: 600;
        
            }
  
      .mtVT{
        margin-top: -36px;
    
      }
      .mobile{
        display: none;
      }
      .mtlobyy{
  margin-top: -80px;
      }
      .modal-dialog {
        max-width: 56%;
        max-height: 400px;
        margin: 1.75rem auto;
    }
    .zIndexM{
      z-index: 1999;
                }
    
      .padding-L{
        padding: 0 20rem;
      }
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      
      .MTLD{
        margin-top: -2rem;
          }
      .row.desktoprem {
        padding: 0rem 8rem;
    }
      .dh-450 {height: 400px;}
      .dn-L{
        display: none;
      }
      .mtVT{
        margin-top: -36px;
    
      }
      .mtlobyy{
       
        margin-top: -80px;
            }
      .padding-L{
        padding:1rem 20rem;
      }
      .modal-dialog {
        max-width: 56%;
        max-height: 400px;
        margin: 1.75rem auto;
    }
    
    .zIndexM{
      z-index: 1999;
                }
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
  
  
      .MTLD{
        margin-top: -2rem;
          }
      .row.desktoprem {
        padding: 0rem 8rem;
    }
  
     
      .mobileMEnuText{
  font-size: 12px;
  font-weight: 600;
  
      }
  
     
      .desktopSize{
        font-size: 16px;
        color: #ffffff;
        font-weight: 600;
          }
  
      .dh-450 {height: 400px;}
      dn-L{
        display: none;
      }
  
      .mobile{
        display: none;
      }
      .mtlobyy{
        margin-top: -120px;
       
            }
            .mtVT{
              margin-top: -36px;
          
            }
  
            .zIndexM{
  z-index: 1999;
            }
      .padding-L{
        padding: 1rem 20rem;
      }
      .padding-LobbyNav{
        padding:0rem 13rem 0rem 12rem;
      }
      .modal-dialog {
        max-width: 56%;
        margin: 1.75rem auto;
        max-height: 400px;
    }
    
    .hero-text-expo-zone1DesktopVideo{
      position: absolute;
      top: 48%;
      left: 72%;
      text-align: center;
      height: 10.063rem;
      width: 130%;
      transform: translate(-49%, -50%);
      color: white;
      margin-left: 1.688rem;
    }
  
    
    }
    .zone1videocss {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 70px !important;
      margin-left: 70px !important;
  }
  
  @media (min-width: 1281px) {
    
    .MTLD{
      margin-top: -2rem;
        }
    .hidefooterIcon{
      display: none;
    }
  
    .row.desktoprem {
      padding: 0rem 20rem;
  }
  
  .row.desktoprem1 {
    padding: 0rem 2rem;
  }
  
  .hero-text-expo-zone1DesktopVideo{
    position: absolute;
    top: 48.7%;
    left: 52%;
    text-align: center;
    height: 100%;
    width: 85%;
    transform: translate(-49%, -50%);
    color: white;
    margin-left: 7.813rem;
    padding-bottom: -3.125rem;
  }
       
    .desktopSize{
  font-size: 14px;
  color: #fadb35;
  font-weight: 600;
    }
    
  }
  
  
  @media screen and (min-width: 1900px){
  
  
  
    .MTLD{
      margin-top: -2rem;
        }
    .hidefooterIcon{
      display: none;
    }
  
    .row.desktoprem {
      padding: 0rem 25rem;
  }
  
  .hero-text-expo-zone1DesktopVideo {
      position: absolute;
      top: 48%;
      left: 52%;
      text-align: center;
      height: 100%;
      width: 96%;
      transform: translate(-49%, -50%);
      color: white;
      margin-left: 7.813rem;
      padding-bottom: -3.125rem;
  }
  .desktopSize{
    font-size: 14px;
    color: #fadb35;
    font-weight: 600;
      }
  
    }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
   
    .MTLD{
      margin-top: -2rem;
        }
    .zone3Button{
      background-color: #efefef;
      color: black;
      font-size: 14px;
      padding: 4px;
      margin-top: -4.188rem;
      margin-right: 0.875rem ;
      }
      
  
    .mobileMEnuText{
      font-size: 11px;
      font-weight: 600;
      
          }
        
          
          .hidefooterIcon{
            display: none;
          }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .MTLD{
      margin-top: -2rem;
        }
    .zone3Button{
      background-color: #efefef;
      color: black;
      font-size: 14px;
      padding: 4px;
      margin-top: -4.188rem;
      margin-right: 0.875rem;
      }
        
    .mobileMEnuText{
      font-size: 10px;
      font-weight: 600;
      color:#ffffff;
          }
         
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  
    .MTLD{
  margin-top: -2rem;
    }
    .mobileMEnuText{
      font-size: 10px;
      font-weight: 600;
      color: #ffffff;
          }
  
  .desktoprem
  {
  
      padding:0rem 5rem;
  }
  
          .mobileLogoSIze{
            height:20px;
          }
          .hidmainNAv 
          {
            display: none;
          }  
    
    
          .hero-text-expo-zone1DesktopVideo {
            position: absolute;
            top: 34%;
            left: 46.2%;
            text-align: center;
            /* height: 161px; */
            width: 100%;
            transform: translate(-49%, -50%);
            color: white;
            margin-left: 2.375rem}
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .hero-text-expo-zone1DesktopVideo {
      text-align: center;
      position: absolute;
      top: 35%;
      left: 50%;
      text-align: center;
      width: 29%;
      margin-left: 1.063rem;
      transform: translate(-50%, -50%);
      color: white;
  }
  .desktoprem {
      padding: 0rem 3rem;
  }
  
  
  
  .zone3Button{
    background-color: #efefef;
    color: black;
    font-size: 14px;
    padding: 4px;
    margin-top: -18.125rem;
    margin-right: -74%;
  }
  
    
    .mobileMEnuText{
      font-size: 10px;
      font-weight: 600;
      color:#ffffff;
          }
  
          .mobileLogoSIze{
            height:20px;
          }
          .hidmainNAv 
          {
            display: none;
          }  
          
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
  
   .hidmainNAv 
  {
    display: none;
  }  
  }
  .zone32Button {
    background-color: transparent;
    color: black;
    font-size: 14px;
    padding: 0.25rem;
    margin-top: -2.25rem;
    margin-right: -1.625rem;
  }
  
  .zone3Button{
    background-color: transparent;
    color: black;
    font-size: 14px;
    padding: 0.25rem;
    margin-top: -2.5rem;
    margin-right: 5.875rem;
    }
  
    